
/* CSS for top menu FInal CSS */
@media (min-width: 768px) {

    .top #wrapper {
        padding-left: 0px !important;
        min-height: 100vh;
    }

    .top .social-share {
        padding-left: 230px !important;
    }

    .top .contentpart {
        margin-top: 25px;
    }

    .top #header_no_print {
        position: absolute;
        top: 70px;
        left: 0;
        width: 230px;
        z-index: 6;
    }

    .top a[id*='lnkHomePage'] {
        font-size: 0.75rem;
        color: #fff !important;
        text-decoration: none !important;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0;
        left: -341px;
        width: 230px;
        position: absolute;
        top: -28px;
        height: 90px;
        text-indent: -99999999rem;
        z-index: -9999999;
        /*background-color: aliceblue;*/
    }

    .top #header .navbar-brand1 {
        width: 230px;
        position: absolute;
        top: 0px;
        left: 0;
        /* z-index: 999999999999999; */
        /* margin: 0; */
        /* margin: 0; */
        padding: 1rem 1.5rem;
        /* float: left; */
        height: auto;
        padding: 0px 20px 0px 15px;
        /* font-size: 18px; */
        /* line-height: 20px; */
        /* margin: 10px 0 10px 0; */
    }

    .top .row > .col-sm-5 {
        width: -webkit-fill-available !important;
    }

    /*###########################################     New Menu Style    #################################################################*/

    .top #header .navbar-default .container-fluid > .row > .col-sm-7 {
        width: 100%;
        background: #fff;
    }

    .top #header .social-share {
        padding-left: 15px;
        justify-content: flex-end;
    }


    /*###########################################     New Menu Style    #################################################################*/

    .top #header_no_print .headerBar > div:last-child {
        display: block;
        top: 10px;
    }

    .top .dropdown-menu {
        position: sticky;
    }

}
.top .menuClass {
    position: unset;
}

@media (min-width: 1380px) {
    .top #header_no_print .headerBar > div:last-child {
        display: block;
        top: -60px;
    }
}

@media only screen and (min-width: 1200px) {
    .top .width170 {
        width: 100% !important;
    }
}
.top .dropdown-menu {
    position: sticky;
}


